<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      body {
          background-color: #fff9c4;
          font-family: Arial, sans-serif;
          text-align: center;
      }
      h1 {
          color: #2e7d32;
          font-size: 3rem;
          margin-top: 3rem;
      }
      p {
          color: #616161;
          font-size: 1.5rem;
          margin-top: 2rem;
          line-height: 1.5;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
      }
      a {
          color: #43a047;
          text-decoration: none;
          font-weight: bold;
      }

      /* Media queries */
      @media only screen and (max-width: 600px) {
          h1 {
              font-size: 2rem;
          }
          p {
              font-size: 1.2rem;
          }
      }
      </style>
</head>
<body>
<h1>Enhorabuena {{ usuario}} tu cuenta ha sido verificada</h1>
<p>Por favor, haz click en este <a href="{{ path('ctrl_login') }}">enlace</a> para iniciar sesión.</p>
</body>
</html>
