<!doctype html>
<html lang="es">
<head>
    <title>Confirma tu cuenta</title>

   <style>
       body {
           background-color: #fff9c4;
           font-family: Arial, sans-serif;
           text-align: center;
       }

       h1 {
           color: #2e7d32;
           font-size: 3rem;
           margin-top: 3rem;
       }

       p {
           color: #616161;
           font-size: 1.5rem;
           margin-top: 2rem;
       }

       a {
           color: #43a047;
           text-decoration: none;
           font-weight: bold;
       }

       /* Media Queries */
       @media (max-width: 768px) {
           h1 {
               font-size: 2rem;
               margin-top: 2rem;
           }

           p {
               font-size: 1.2rem;
               margin-top: 1.5rem;
           }
       }

       @media (max-width: 576px) {
           h1 {
               font-size: 1.5rem;
               margin-top: 1.5rem;
           }

           p {
               font-size: 1rem;
               margin-top: 1rem;
           }
       }
   </style>
</head>
<body>
<h1>Confirma tu cuenta</h1>
<p>Haz click en este <a href="{{ url }}">enlace</a> para confirmar tu cuenta</p>
</body>
</html>
