<!doctype html>
<html lang="es">
<head>
    <title>Nos entristece verte ir</title>
  <style>
      body {
          text-align: center;
          background-color: #2c3e50; /* Establece un color de fondo oscuro */
          color: #bdc3c7; /* Establece un color de texto gris claro */
          font-family: Arial, sans-serif; /* Establece una fuente */
      }

      h1 {
          font-size: 2.5em; /* Aumenta el tamaño de la fuente para el título */
          text-align: center; /* Centra el título en la página */
          margin-top: 50px; /* Añade un margen superior para separar el título del resto del contenido */
      }

      a {
          color: #e74c3c; /* Establece un color rojo oscuro para el enlace */
          text-decoration: none; /* Elimina la subraya de enlace */
      }

      a:hover {
          text-decoration: underline; /* Agrega una subraya de enlace cuando el usuario pasa el ratón sobre el enlace */
      }
      </style>
</head>
<body>
<h1>Confirma tu extinción de cuenta</h1>
<p>Haz click en este <a href="{{ url }}">enlace</a> para cerrar tu cuenta</p>
</body>
</html>
